.terminal-wrapper{
	color: white;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	font-family: monospace;
	font-size: 12px;
	line-height: 14px;
	overflow-y: scroll;
	flex: 1 0 0%;
}

.terminal-wrapper:focus{
	outline: 0;
}

.terminal-output{
	display: flex;
	flex-direction: column;
}

.terminal-history{
	display: flex;
	flex-direction: column;
}

.terminal-history-line{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	color: lightslategray;
}

.cmd-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.cmd-cursor-line{
	display: flex;
	flex-direction: row;
}

.cmd-cursor{
	background-color: transparent;
}

.cmd-cursor-blink{
	background-color: white;
	animation: blinkingText 1s infinite;
}

.cmd_char{
	min-width: 6.6px;
}


@keyframes blinkingText{
	0% {
		opacity: 1;
	}
	49.99% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}

}

::-webkit-scrollbar {     
	width: 0px; 
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: #FF0000; 
}
